@model SmallTalk.Data.Profile

<div>
    <h4>Profile</h4>
    <hr />
    @*
	<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasswordHash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordHash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsStudent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsStudent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AboutMe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AboutMe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Availability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Availability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LanguageLevel.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LanguageLevel.Name)
        </dd>

    </dl>
	*@
	
	<div data-ng-controller="profileController" class="container">
		
		<ul>
			<li>{{profile.id}}</li>
			<li>{{profile.Name}}</li>
			<li>{{profile.BirthYear}}</li>
		</ul>
	</div>
	
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
